.sec_1{
    padding-top: 10px;
    padding-bottom: 5px;
 background-color: #000000;
}
.sec_2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact_head ul{
    list-style: none;
}
.contact_head ul li{
    display: inline-block;
    margin-left: 10px;
    color: #ffffff;
}
.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: #ffffff;
    color: #888888;
    font-weight: normal;
}
.navbar ul li a{
    color: #000000;
    font-weight: normal;
}
.navbar ul li {
    margin-left: 10px;
    font-size: 15px;
}
.navbar .dropdown-menu.list_mrg li {
    margin-left: 0px;
}
.dropdown-menu>li>a{
    padding: 10px 10px;
}
.dropdown-menu{
    padding: 0px 0;
}
.navbar{
    margin-bottom: 0px;
}
.sec_3 .border{
    border: 1px solid #000000;
    padding: 10px 20px;
    height: 235px;
}
.sec_3 .border:hover {
    border: 0px solid #000000;
    box-shadow: 0px 0px 13px 1px #888;
}
.sec_3 .border img{
    margin-bottom: 20px;
}
.sec_3 .border p{
    font-weight: 700;
}
.sec_3{
    padding-top: 20px;
    padding-bottom: 80px;
}
.sec_4{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 40px;
    background-image: url("images/partners.png");
    background-size: cover;
}
.sec_4 p,.sec_4 h3{
    color: #ffffff;
}
.sec_5{
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #ebebeb;
}
.sec_7{
    padding-top: 40px;
    margin-bottom: 30px;
    background-color: #ebebeb;
}
.sec_5 h3{
    text-align: center;
    margin-bottom: 25px;
}
.sec_5 .v_set{
    text-align: center;
}
.sec_5 .v_set video{
    width: 100%;
    height: 455px;
}
.sec_6 .b_product ul li{
    display: inline-block;
    margin-top: 10px;
}
.sec_6 .b_product ul li.list_text{
    font-size: 12px;
    font-weight: bold;
}
.sec_6 .b_product ul li img{
    width: 70%;
}
.sec_6{
    padding-bottom: 40px;
}
.sec_6 a{
    color: #000000;
    text-decoration: none;
}
.sec_6 .b_product{
    width: 100%;
    height: 75px;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    padding: 5px 0px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.sec_6 .b_product:hover {
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 10px 1px #888;
}
.sec_6 h2{
    margin-top: 60px;
    margin-bottom: 20px;
}
.sec_7 img{
    margin-bottom: 30px;
}
.sec_8{
    margin-bottom: 50px;
}
.sec_8 span{
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
}
.sec_8 p{
    margin-top: 10px;
    font-size: 15px;
}
.sec_8 .get_start_border{
    border: 1px solid #888;
    box-shadow: 0px 0px 3px 1px #ccc;
    padding: 21px 10px;
    height: 537px;
}
.sec_8 .get_start_border:hover{
    border: 1px solid #000000;
}
.start_btn{
    border-radius: 20px;
    font-size: 20px;
    margin-top: -113px;
}
.sec_9{
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #303030;
}
.sec_10{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
}

.mt-10{margin-top: 10px; !important}
.mt-15{margin-top: 15px; !important}
.mt-30{margin-top: 30px; !important}
.mt-60{margin-top: 60px; !important}
.mt-80{margin-top: 80px; !important}
.mt-100{margin-top: 100px; !important}
.mt-120{margin-top: 120px; !important}
.mt-140{margin-top: 140px; !important}

.slider{
    background-image: url("images/slider.png");
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 30px;
}
.slider h2{
    font-size: 45px;
    line-height: 70px;
    color: #ffffff;
}
.slider h2 span{
    font-size: 55px;
    font-weight: bold;
}
.slider p{
    color: #ffffff;
    font-size: 15px;
    margin-top: 25px;
}
.slider form .input-group input[type="text"]{
    border-radius: 3px;
    padding: 22px 10px;
    font-size: 16px;

}
.navbar-form{
    margin-left: -10px;
}
.navbar-form .input-group {
    margin-left: -5px;
}
.carousel-caption{
    right: 15%;
    left: 5%;
    padding-bottom: 30px;
    text-align: left;
}