<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0" />
    <sessionState timeout="60"></sessionState>
  </system.web>
  <connectionStrings>
    <add name="connected" connectionString="Data Source=DESKTOP-LVKHNDE;Initial Catalog=inword;Integrated Security=True"/>
    <!--<add name="connected" connectionString="Data Source=glocalichannel.com;Initial Catalog=Glocali;User ID=Glocali;Password=SH!R@ZGL0C@L!365;persist security info=False;"/>-->
  </connectionStrings>
</configuration>